.product-detail-img{
    width: 680px;
    padding-left: 32px;
}

.product-detail-title{
    font-size: 28px;
    color: #333333;
    margin-left: 32px;
    margin-bottom: 32px;
}

.product-detail-text{
    font-size: 16px;
    color: #999999;
    margin-left: 32px;
    margin-bottom: 32px;
}